﻿@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div>
    @(Html.Kendo().Grid<ContactMangerUI.Models.UsersInfo>
                    ()
                    .Name("UsersGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(u => u.UserId).Visible(false);
                        columns.Bound(u => u.FirstName).Width(140);
                        columns.Bound(u => u.LastName).Width(140);
                        columns.Bound(u => u.ZipCode).Width(140);
                        columns.Bound(u => u.City).Width(140);
                        columns.Bound(u => u.State).Width(140);
                        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(185);
                    }

                    )
                    .ToolBar(toolbar => toolbar.Create())
                    .Editable(editable => editable.Mode(GridEditMode.PopUp))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.UserId);
                        model.Field(field => field.UserId);
                        model.Field(field => field.FirstName);
                        model.Field(field => field.LastName);
                        model.Field(field => field.ZipCode);
                        model.Field(field => field.City);
                        model.Field(field => field.State);
                    })
                    .ServerOperation(true)
                    .Read(read => read.Action("Users_Read", "Home"))
                    .Create(create => create.Action("Users_Create", "Home"))
                    .Update(update => update.Action("Users_Update", "Home"))
                    .Destroy(destroy => destroy.Action("Users_Delete", "Home"))

                    )
                    .Events(events => events.Edit("HideGridFields"))
    )

</div>
<script type="text/javascript">
    function HideGridFields(e) {
        HideControl("City", e);
        HideControl("State", e);
    }

    function HideControl(fieldName, e) {
        var cont = $(e.container);
        HideFieldLabel(cont.find("label[for='" + fieldName + "']"));
        HideFieldField(cont.find("#" + fieldName));
    }

    function HideFieldLabel(control) {
        control.parent(".editor-label").hide();
    }

    function HideFieldField(control) {
        control.parent(".editor-field").hide();
    }
</script>

